/* Default styling */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
}

/* Resetting default font size to 10px */
html{
    font-size: 62.5%;
}

/* First section styling */
.section-1{
    width: 100%;
    height: 100vh;
    background-color: #333;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.section-heading{
    font-size: 10rem;
    font-weight: 800;
    color: #ffffff;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0.5rem;
    text-shadow: 0.3rem 0.3rem 0.3rem #000;
}

.section-1-icons i{
    font-size: 28rem;
    color: #f96209;
    position: absolute;
    transform: translate(-50%, -50%) scale(0);
    text-shadow: 0.2rem 0.2rem 0.2rem #000;
    transition: transform 0.3s;
}

.section-1-icons .change{
    transform: translate(-50%, -50%) scale(1);
    transition: transform 0.3s 0.3s;
}